@import "../resources/variables.scss";

.container {
    display: inline-block;
    background-image: url($board-bg-img);
    border: 1px solid $line-color;
    padding: $board-padding ($board-padding + 1) ($board-padding + 1) $board-padding;
}